extends layout

block content
   #imageWrapper.center-block
       p.image
           img(src='images/topImage.png', usemap='#top')
         map(name='top')
           area(shape='rect', coords='136,215,184,173', href='./auth/facebook')
           area(shape='rect', coords='136,144,184,97', href='./auth/twitter')

